<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>{{page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <script src="/assets/script.js" defer></script> 
</head>


<body>
  <header class="mobile-header">
    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
  </header>

  <div id="overlay" class="overlay" onclick="toggleSidebar(true)"></div>

  <div class="layout">

    <!-- sidebar -->

    <aside class="sidebar">
      <!-- sidebar profile -->
      <div class="profile-info only-desktop">
        <h2>윤채연</h2>
        <p class="email">yuuun519@gmail.com</p>
	<hr class="sidebar-separator">
       </div>


      <!-- list -->
      <ul class="nav-section">
        <li><a href="/">HOME</a></li>
        <li>
          PROJECT LIST
          <ul class="sub-nav">
            <li><a href="/post/project1.html">▸ 비대면 환자 시스템</a></li>
            <!--<li><a href="/post/project2.html">▸ REAT 앱 이식</a></li>-->
          </ul>
        </li>
        <li><a href="https://velog.io/@yuuun519/posts" target="_blank">블로그</a></li>
      </ul>

<!-- sidebar-footer/ver -->
<div class="sidebar-footer">
  ver.0.0.25-4
</div>
    </aside>


    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>
